n8n/workflows/call-agent-subworkflow.json
{
  "name": "Call Agent",
  "nodes": [
    {
      "id": "8e117173-aaa1-48a8-b8fe-b379adb7de4f",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "68acc605-d9a6-4ca6-ab14-75fda9829bc0",
      "name": "Manual Trigger (Isolation Test)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        100
      ],
      "parameters": {}
    },
    {
      "id": "f2bd1fa4-4e93-4b4e-b501-9e69d0e71880",
      "name": "Hardcoded Test Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        100
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"agent_id\":\"linkedin-writer\",\"task_title\":\"Launch post for Q3 product update\",\"task_description\":\"Announce the new dashboard feature for marketing leads.\",\"criterios_de_aceite\":\"- Mention the dashboard\\n- CTA to sign up\\n- Under 300 words\"}",
        "options": {}
      }
    },
    {
      "id": "a9bd7f14-b8c0-4074-9f3c-b9c7c1fc44cd",
      "name": "Store Input Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        200
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{\n  json: {\n    ...item,\n    _started_at_ms: Date.now(),\n    task_id: item.task_id ?? item.task_title ?? 'isolation-test',\n  },\n}];"
      }
    },
    {
      "id": "b1ce3c3f-41c1-44f4-b04e-ef3120d31600",
      "name": "Fetch Agent Config",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        720,
        200
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "githubApi": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub agentic-mkt (read-only PAT)"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "rafiti052"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "agentic-mkt"
        },
        "filePath": "=agents/{{ $json.agent_id }}.json",
        "asBinaryProperty": false
      }
    },
    {
      "id": "64e45ac5-abe3-43cf-b7f4-3530cf01f84c",
      "name": "Parse Agent Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        200
      ],
      "parameters": {
        "jsCode": "const input = $('Store Input Context').first().json;\nconst github = $input.first().json;\nconst encoded = github.content;\nif (!encoded) {\n  return [{ json: { error: 'GitHub agent config fetch failed', raw_response: JSON.stringify(github) } }];\n}\nconst decoded = Buffer.from(String(encoded).replace(/\\n/g, ''), 'base64').toString('utf8');\nconst agentConfig = JSON.parse(decoded);\nconst skills = Array.isArray(agentConfig.skills) ? agentConfig.skills : [];\nreturn skills.map((skill) => ({\n  json: {\n    ...input,\n    agent_config: agentConfig,\n    skill,\n    skill_path: `agents/skills/${skill}.md`,\n  },\n}));"
      }
    },
    {
      "id": "83743a62-1f16-4888-b953-ac4bbe95bea5",
      "name": "Fetch Skill Markdown",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1200,
        200
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "githubApi": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub agentic-mkt (read-only PAT)"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "rafiti052"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "agentic-mkt"
        },
        "filePath": "={{ $json.skill_path }}",
        "asBinaryProperty": false
      }
    },
    {
      "id": "e1a8c893-00b8-4a9a-9a05-a9de4311e065",
      "name": "Merge Skill Fetch",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1320,
        200
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      }
    },
    {
      "id": "b7db080a-e31c-40a8-9c37-15ccbed8d27f",
      "name": "Assemble Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        200
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst base = items[0]?.json ?? {};\nconst agentConfig = base.agent_config;\nif (!agentConfig) {\n  return [{ json: { error: 'Missing agent_config after Merge Skill Fetch', raw_response: JSON.stringify(base) } }];\n}\nconst skillContents = {};\nfor (const item of items) {\n  const skill = item.json.skill;\n  const encoded = item.json.content;\n  if (!skill || !encoded) continue;\n  skillContents[skill] = Buffer.from(String(encoded).replace(/\\n/g, ''), 'base64').toString('utf8');\n}\nconst schema = agentConfig.output_schema ?? {};\nconst example = {\n  deliverable_markdown: schema.deliverable_markdown ?? 'Full LinkedIn post draft in markdown',\n  resumo: schema.resumo ?? '2-3 sentence summary of the draft',\n  autochecagem: schema.autochecagem ?? 'Bullet list validating draft against acceptance criteria',\n};\nconst skillBlocks = (agentConfig.skills ?? []).map((skill) => {\n  const body = (skillContents[skill] ?? '').trim();\n  return `## Skill: ${skill}\\n${body}`;\n}).join('\\n\\n');\nconst systemPrompt = [\n  '# Agent Role',\n  `You are the \\`${agentConfig.id}\\` marketing worker agent.`,\n  '',\n  '# Skills',\n  skillBlocks,\n  '',\n  '# Required Output Format',\n  'Respond with JSON only. Do not wrap the JSON in markdown code fences.',\n  'Required keys and semantics:',\n  JSON.stringify(example, null, 2),\n].join('\\n');\nconst userMessage = [\n  '# Task Title',\n  base.task_title ?? '',\n  '',\n  '# Task Description',\n  base.task_description ?? '',\n  '',\n  '# Critérios de Aceite',\n  base.criterios_de_aceite ?? '',\n].join('\\n');\nreturn [{\n  json: {\n    ...base,\n    agent_config: agentConfig,\n    skill_contents: skillContents,\n    system_prompt: systemPrompt,\n    user_message: userMessage,\n    temperature: agentConfig.temperature ?? 0.7,\n    max_output_tokens: agentConfig.max_output_tokens ?? 1024,\n    provider: agentConfig.provider ?? 'openai',\n    model: agentConfig.model ?? 'gpt-4.1-mini',\n  },\n}];"
      }
    },
    {
      "id": "e8221c4b-2f4f-4444-a9fb-ad796e7b71da",
      "name": "Route Provider",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1800,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "81cbcec0-2dbc-4e21-af59-4d7fa45a0581",
              "leftValue": "={{ $json.provider }}",
              "rightValue": "openai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a64d6cdf-1569-46b8-9ece-0e7a2b7b013f",
              "leftValue": "={{ $json.provider }}",
              "rightValue": "google",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "d7fdb2a3-020e-4755-a83f-590cf202a3d9",
      "name": "Message GPT-4.1-MINI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2040,
        120
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      },
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ ($json.model || 'gpt-4.1-mini').replace(/^models\\//, '').replace(/^gemini.*/, 'gpt-4.1-mini') }}"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "user",
              "content": "={{ $json.user_message }}"
            }
          ]
        },
        "simplify": true,
        "builtInTools": {},
        "options": {
          "instructions": "={{ $json.system_prompt }}",
          "temperature": "={{ $json.temperature ?? 0.7 }}",
          "maxTokens": "={{ $json.max_output_tokens ?? 1024 }}"
        }
      }
    },
    {
      "id": "cf5f31a8-ea0f-4fae-ba5d-40c0de74babc",
      "name": "Parse Agent Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        120
      ],
      "parameters": {
        "jsCode": "const REQUIRED_KEYS = [\"deliverable_markdown\",\"resumo\",\"autochecagem\"];\nconst startedAt = $('Store Input Context').first().json._started_at_ms ?? Date.now();\nconst input = $('Store Input Context').first().json;\nconst agentId = input.agent_id ?? 'unknown';\nconst taskId = input.task_id ?? input.task_title ?? 'unknown';\nconst executionId = $execution.id;\n\nfunction stripFences(text) {\n  const trimmed = (text ?? '').trim();\n  if (!trimmed.startsWith('```')) return trimmed;\n  const lines = trimmed.split('\\n');\n  if (lines[0].startsWith('```')) lines.shift();\n  if (lines.length && lines[lines.length - 1].trim() === '```') lines.pop();\n  return lines.join('\\n').trim();\n}\n\nfunction extractOpenAIText(item) {\n  const json = item.json ?? {};\n  const chunks = [];\n  const output = json.output;\n  if (Array.isArray(output)) {\n    for (const message of output) {\n      const content = message?.content;\n      if (!Array.isArray(content)) continue;\n      for (const block of content) {\n        if (block?.type !== 'output_text' || block.text == null) continue;\n        if (typeof block.text === 'string') chunks.push(block.text);\n        else if (typeof block.text === 'object') chunks.push(JSON.stringify(block.text));\n      }\n    }\n  }\n  if (chunks.length) return chunks.join('');\n  const choice = Array.isArray(json.choices) ? json.choices[0] : null;\n  if (choice?.message?.content && typeof choice.message.content === 'string') {\n    return choice.message.content;\n  }\n  for (const key of ['text', 'message']) {\n    if (typeof json[key] === 'string') return json[key];\n  }\n  return JSON.stringify(json);\n}\n\nconst rawResponse = extractOpenAIText($input.first());\nlet parseSuccess = false;\nlet result;\n\ntry {\n  const cleaned = stripFences(rawResponse);\n  const parsed = JSON.parse(cleaned);\n  if (typeof parsed !== 'object' || parsed === null || Array.isArray(parsed)) {\n    throw new Error('Expected JSON object');\n  }\n  const missing = REQUIRED_KEYS.filter((key) => !(key in parsed));\n  if (missing.length) throw new Error(`Missing required keys: ${missing.join(', ')}`);\n  const invalid = REQUIRED_KEYS.filter((key) => typeof parsed[key] !== 'string' || !parsed[key].trim());\n  if (invalid.length) throw new Error(`Empty or non-string values for: ${invalid.join(', ')}`);\n  result = {\n    deliverable_markdown: parsed.deliverable_markdown,\n    resumo: parsed.resumo,\n    autochecagem: parsed.autochecagem,\n  };\n  parseSuccess = true;\n} catch (error) {\n  result = {\n    error: `Failed to parse AgentOutput: ${error.message}`,\n    raw_response: rawResponse,\n  };\n}\n\nconst latencyMs = Date.now() - startedAt;\nconsole.log(JSON.stringify({\n  task_id: taskId,\n  agent_id: agentId,\n  execution_id: executionId,\n  latency_ms: latencyMs,\n  parse_success: parseSuccess,\n}));\n\nreturn [{ json: result }];"
      }
    },
    {
      "id": "4e124be8-41e3-4e79-a567-2852590500a9",
      "name": "Unsupported Provider Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        320
      ],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    error: `Unsupported provider: ${$json.provider ?? 'unknown'}. M1 routes openai (and legacy google) to GPT.`,\n    raw_response: JSON.stringify($json),\n  },\n}];"
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Store Input Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Isolation Test)": {
      "main": [
        [
          {
            "node": "Hardcoded Test Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hardcoded Test Input": {
      "main": [
        [
          {
            "node": "Store Input Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Input Context": {
      "main": [
        [
          {
            "node": "Fetch Agent Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Agent Config": {
      "main": [
        [
          {
            "node": "Parse Agent Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Config": {
      "main": [
        [
          {
            "node": "Fetch Skill Markdown",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Skill Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Skill Markdown": {
      "main": [
        [
          {
            "node": "Merge Skill Fetch",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Skill Fetch": {
      "main": [
        [
          {
            "node": "Assemble Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Prompt": {
      "main": [
        [
          {
            "node": "Route Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Provider": {
      "main": [
        [
          {
            "node": "Message GPT-4.1-MINI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Provider Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message GPT-4.1-MINI": {
      "main": [
        [
          {
            "node": "Parse Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "agent_id": "linkedin-writer",
          "task_title": "Launch post for Q3 product update",
          "task_description": "Announce the new dashboard feature for marketing leads.",
          "criterios_de_aceite": "- Mention the dashboard\n- CTA to sign up\n- Under 300 words"
        }
      }
    ]
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bbd637d8-8270-405c-a91b-01ab8f9cf25f",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "agentic-mkt-call-agent-export"
  },
  "tags": [
    {
      "name": "marketing-pipeline"
    }
  ]
}
