n8n/workflows/marketing-pipeline-main.json
{
  "name": "Marketing Pipeline",
  "nodes": [
    {
      "id": "173c8894-019a-44ba-9246-add041eebf10",
      "name": "ClickUp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "32bad2c1-71f2-4db8-b885-83949e6fb4e4",
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-pipeline-ready-to-work",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "6cd92d51-18ef-4bdd-aa99-994b8c5a1942",
      "name": "Ready to Work?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1de8504-085d-4758-9e2a-f1eaa780b08a",
              "leftValue": "={{ (() => { const payload = ($json.body && $json.body.history_items ? $json.body : $json); const item = payload?.history_items?.[0]; if (!item || item.field !== \"status\") return false; const after = item.after; const status = (after !== null && typeof after === \"object\") ? after.status : after; return String(status ?? \"\").trim().toLowerCase() === \"ready\"; })() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "9e34af11-e4b4-4757-aef1-b2f23d810e47",
      "name": "Extract Webhook Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst payload = (raw.body && raw.body.history_items) ? raw.body : raw;\nconst items = payload.history_items || [];\nconst first = items[0] || {};\nreturn [{\n  json: {\n    task_id: String(payload.task_id ?? ''),\n    webhook_id: String(payload.webhook_id ?? ''),\n    history_item_id: String(first.id ?? ''),\n    list_id: String(first.parent_id ?? ''),\n    received_at_ms: Date.now(),\n  },\n}];"
      }
    },
    {
      "id": "d4a102d5-54c9-46a7-bd79-a72dc170ba61",
      "name": "Dedup?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "76967085-558e-458b-91b7-993c6b55ec10",
              "leftValue": "={{ (() => { const staticData = $getWorkflowStaticData('global'); const key = String($json.history_item_id ?? ''); if (!key) return false; staticData.seenHistoryItems = staticData.seenHistoryItems || {}; return Boolean(staticData.seenHistoryItems[key]); })() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c332eef3-61e0-4ca2-9e35-bc221cdebe2a",
      "name": "Mark History Item Seen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.seenHistoryItems = staticData.seenHistoryItems || {};\nconst key = String($json.history_item_id ?? '');\nif (key) staticData.seenHistoryItems[key] = Date.now();\nreturn [{ json: $json }];"
      }
    },
    {
      "id": "027fa215-306a-41b9-b5ef-d6593956328c",
      "name": "GET ClickUp Task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        840,
        300
      ],
      "credentials": {
        "clickUpApi": {
          "id": "CLICKUP_CREDENTIAL_ID",
          "name": "ClickUp Marketing Pipeline"
        }
      },
      "parameters": {
        "operation": "get",
        "id": "={{ $json.task_id }}"
      }
    },
    {
      "id": "189fd512-3e67-4efc-8398-4490ed3e178d",
      "name": "Extract Task Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "jsCode": "const FIELD_IDS = {\n  criterios_de_aceite: \"bd2e7a51-3e9e-4d6a-9729-770fac44a504\",\n  agent_id: \"a969b8cc-d77a-4a0b-9e37-a8e81dfc6de0\",\n  default_agent_id: \"linkedin-writer\",\n};\n\nfunction readCustomField(task, fieldId) {\n  if (!fieldId || fieldId === '<TBD>') return '';\n  const fields = task.custom_fields || [];\n  const match = fields.find((field) => String(field.id) === String(fieldId));\n  if (!match || match.value === null || match.value === undefined) return '';\n  if (typeof match.value === 'object') {\n    return String(match.value.value ?? match.value.name ?? match.value.label ?? '');\n  }\n  return String(match.value);\n}\n\nconst task = $input.first().json;\nconst webhook = $('Extract Webhook Context').first().json;\nconst agentId = readCustomField(task, FIELD_IDS.agent_id).trim() || FIELD_IDS.default_agent_id;\n\nreturn [{\n  json: {\n    task_id: String(task.id ?? webhook.task_id ?? ''),\n    agent_id: agentId,\n    task_title: String(task.name ?? ''),\n    task_description: String(task.description ?? task.text_content ?? ''),\n    criterios_de_aceite: readCustomField(task, FIELD_IDS.criterios_de_aceite),\n    model: \"gpt-4.1-mini\",\n  },\n}];"
      }
    },
    {
      "id": "8df41b8e-09a0-491b-8234-e2e10c80d56f",
      "name": "Status → In Progress",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1320,
        300
      ],
      "credentials": {
        "clickUpApi": {
          "id": "CLICKUP_CREDENTIAL_ID",
          "name": "ClickUp Marketing Pipeline"
        }
      },
      "parameters": {
        "operation": "update",
        "id": "={{ $json.task_id }}",
        "updateFields": {
          "status": "writing"
        }
      }
    },
    {
      "id": "9e03e233-b4e1-4a6d-8cec-b1655a54d25c",
      "name": "Prepare Call Agent Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ],
      "parameters": {
        "jsCode": "const fields = $('Extract Task Fields').first().json;\nreturn [{\n  json: {\n    agent_id: fields.agent_id,\n    task_title: fields.task_title,\n    task_description: fields.task_description,\n    criterios_de_aceite: fields.criterios_de_aceite,\n    task_id: fields.task_id,\n  },\n}];"
      }
    },
    {
      "id": "9c0dc636-6b39-47ea-85da-6a32a911e02d",
      "name": "Execute Call Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1680,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "CALL_AGENT_WORKFLOW_ID"
        },
        "mode": "once",
        "options": {}
      }
    },
    {
      "id": "505116d9-e9d9-4943-ba89-0e708d9b0479",
      "name": "Agent Output OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a332edb1-2947-42ef-bbe2-fe41852d5493",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "84f5188c-3f49-4e40-a760-996093dd32a5",
      "name": "Format Draft Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        220
      ],
      "parameters": {
        "jsCode": "const agentOutput = $('Execute Call Agent').first().json;\nconst taskFields = $('Extract Task Fields').first().json;\nconst agentId = taskFields.agent_id ?? \"linkedin-writer\";\nconst model = taskFields.model ?? \"gpt-4.1-mini\";\n\nconst commentText = [\n  '## LinkedIn Draft',\n  '',\n  agentOutput.deliverable_markdown ?? '',\n  '',\n  '---',\n  '',\n  '## Resumo',\n  '',\n  agentOutput.resumo ?? '',\n  '',\n  '---',\n  '',\n  '## Autochecagem',\n  '',\n  agentOutput.autochecagem ?? '',\n  '',\n  '---',\n  `_Generated by ${agentId} (${model})_`,\n].join('\\n');\n\nreturn [{\n  json: {\n    task_id: taskFields.task_id,\n    agent_id: agentId,\n    model,\n    comment_text: commentText,\n    deliverable_markdown: agentOutput.deliverable_markdown,\n    resumo: agentOutput.resumo,\n    autochecagem: agentOutput.autochecagem,\n  },\n}];"
      }
    },
    {
      "id": "13ccd4ea-b921-4522-99b5-878165c1becc",
      "name": "POST Task Comment",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2400,
        220
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "clickUpApi": {
          "id": "CLICKUP_CREDENTIAL_ID",
          "name": "ClickUp Marketing Pipeline"
        }
      },
      "parameters": {
        "resource": "comment",
        "operation": "create",
        "commentOn": "task",
        "id": "={{ $json.task_id }}",
        "commentText": "={{ $json.comment_text }}"
      }
    },
    {
      "id": "f19bee03-5ef0-4896-802f-1a6ab5b90efd",
      "name": "Status → Review",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2640,
        220
      ],
      "credentials": {
        "clickUpApi": {
          "id": "CLICKUP_CREDENTIAL_ID",
          "name": "ClickUp Marketing Pipeline"
        }
      },
      "parameters": {
        "operation": "update",
        "id": "={{ $('Extract Task Fields').item.json.task_id }}",
        "updateFields": {
          "status": "approval"
        }
      }
    },
    {
      "id": "d4be0ffc-b64c-4dbe-83c1-0cdf540c83a1",
      "name": "Agent Parse Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        420
      ],
      "parameters": {
        "jsCode": "const output = $input.first().json;\nconst taskFields = $('Extract Task Fields').first().json;\nconsole.log(JSON.stringify({\n  task_id: taskFields.task_id,\n  agent_id: taskFields.agent_id,\n  execution_id: $execution.id,\n  parse_success: false,\n  error: output.error ?? 'Agent returned error envelope',\n}));\nthrow new Error(`Call Agent failed: ${output.error ?? 'unknown error'}`);"
      }
    },
    {
      "id": "0da61b38-2792-4506-a24a-dd3430c41d30",
      "name": "Log Ingress Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        500
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst payload = (raw.body && raw.body.history_items) ? raw.body : raw;\nconst items = payload.history_items || [];\nconst first = items[0] || {};\n\nfunction statusValue(value) {\n  if (value !== null && typeof value === 'object') return String(value.status ?? '').trim().toLowerCase();\n  return String(value ?? '').trim().toLowerCase();\n}\n\nconst before = statusValue(first.before);\nconst after = statusValue(first.after);\nconst transition = before || after ? `${before}->${after}` : '';\n\nlet reason = 'not_entering_ready';\nif (!items.length) reason = 'no_history_items';\nelse if (first.field !== 'status') reason = 'field_not_status';\n\nconst record = {\n  event: 'ingress_skipped',\n  task_id: String(payload.task_id ?? ''),\n  webhook_id: String(payload.webhook_id ?? ''),\n  history_item_id: String(first.id ?? ''),\n  transition,\n  reason,\n};\nconsole.log(JSON.stringify(record));\nreturn [{ json: record }];"
      }
    },
    {
      "id": "80c60146-26fb-49f9-a758-45b32348b5dd",
      "name": "Log Duplicate Ingress",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        500
      ],
      "parameters": {
        "jsCode": "const context = $input.first().json;\nconst record = {\n  event: 'ingress_skipped',\n  task_id: context.task_id,\n  webhook_id: context.webhook_id,\n  history_item_id: context.history_item_id,\n  transition: '',\n  reason: 'duplicate_history_item',\n};\nconsole.log(JSON.stringify(record));\nreturn [{ json: record }];"
      }
    }
  ],
  "connections": {
    "ClickUp Webhook": {
      "main": [
        [
          {
            "node": "Ready to Work?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready to Work?": {
      "main": [
        [
          {
            "node": "Extract Webhook Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Ingress Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Webhook Context": {
      "main": [
        [
          {
            "node": "Dedup?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup?": {
      "main": [
        [
          {
            "node": "Log Duplicate Ingress",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark History Item Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark History Item Seen": {
      "main": [
        [
          {
            "node": "GET ClickUp Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET ClickUp Task": {
      "main": [
        [
          {
            "node": "Extract Task Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Task Fields": {
      "main": [
        [
          {
            "node": "Status → In Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status → In Progress": {
      "main": [
        [
          {
            "node": "Prepare Call Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Call Agent Input": {
      "main": [
        [
          {
            "node": "Execute Call Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Call Agent": {
      "main": [
        [
          {
            "node": "Agent Output OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Output OK?": {
      "main": [
        [
          {
            "node": "Format Draft Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent Parse Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Draft Comment": {
      "main": [
        [
          {
            "node": "POST Task Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Task Comment": {
      "main": [
        [
          {
            "node": "Status → Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "acab4e34-43a7-4deb-a307-9e431995d086",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "agentic-mkt-marketing-pipeline-export"
  },
  "tags": [
    {
      "name": "marketing-pipeline"
    }
  ]
}
