marketing-pipelines/call-agent-subworkflow.json
{
  "name": "Call Agent",
  "nodes": [
    {
      "id": "21906f84-62b7-dcbd-67f2-b63b40ada3b3",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "43d6de75-cfc8-175b-1a02-2ba610f16c96",
      "name": "Manual Trigger (Isolation Test)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        100
      ],
      "parameters": {}
    },
    {
      "id": "d2096141-fa71-41c1-b3ce-75cba456b35b",
      "name": "Hardcoded Test Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        100
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"agent_id\":\"linkedin-writer\",\"task_title\":\"Launch post for Q3 product update\",\"task_description\":\"Announce the new dashboard feature for marketing leads.\",\"criterios_de_aceite\":\"- Mention the dashboard\\n- CTA to sign up\\n- Under 300 words\"}",
        "options": {}
      }
    },
    {
      "id": "d35b7531-c7fa-f3b1-39d5-dc01a087b6db",
      "name": "Store Input Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        200
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{\n  json: {\n    ...item,\n    _started_at_ms: Date.now(),\n    task_id: item.task_id ?? item.task_title ?? 'isolation-test',\n  },\n}];"
      }
    },
    {
      "id": "8b8d71ab-152e-c647-81e8-f37c1e0dd7ed",
      "name": "Fetch Agent Config",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        720,
        200
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "githubApi": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub agentic-mkt (read-only PAT)"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "rafiti052"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "agentic-mkt"
        },
        "filePath": "=agents/{{ $json.agent_id }}.json",
        "asBinaryProperty": false
      }
    },
    {
      "id": "50995f19-f10b-7b60-9f84-6c12e8b3ec6b",
      "name": "Parse Agent Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        200
      ],
      "parameters": {
        "jsCode": "const input = $('Store Input Context').first().json;\nconst github = $input.first().json;\nconst encoded = github.content;\nif (!encoded) {\n  return [{ json: { error: 'GitHub agent config fetch failed', raw_response: JSON.stringify(github) } }];\n}\nconst decoded = Buffer.from(String(encoded).replace(/\\n/g, ''), 'base64').toString('utf8');\nconst agentConfig = JSON.parse(decoded);\nconst skills = Array.isArray(agentConfig.skills) ? agentConfig.skills : [];\nconst references = Array.isArray(agentConfig.references) ? agentConfig.references : [];\nconst items = [\n  ...skills.map((skill) => ({\n    json: {\n      ...input,\n      agent_config: agentConfig,\n      skill,\n      skill_path: `agents/skills/${skill}.md`,\n      path: `agents/skills/${skill}.md`,\n    },\n  })),\n  ...references.map((reference) => ({\n    json: {\n      ...input,\n      agent_config: agentConfig,\n      reference,\n      path: reference,\n    },\n  })),\n];\nreturn items;"
      }
    },
    {
      "id": "3a7972b3-ec16-c2ca-3d8c-43379865ffa7",
      "name": "Fetch Agent Files",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1200,
        200
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "githubApi": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub agentic-mkt (read-only PAT)"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "rafiti052"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "agentic-mkt"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false
      }
    },
    {
      "id": "1710fc87-55f6-be4c-6928-41a685cada61",
      "name": "Merge Agent Files Fetch",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1320,
        200
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      }
    },
    {
      "id": "686a0789-5ada-4abc-c7d1-38916e02959c",
      "name": "Assemble Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        200
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst base = items[0]?.json ?? {};\nconst agentConfig = base.agent_config;\nif (!agentConfig) {\n  return [{ json: { error: 'Missing agent_config after Merge Agent Files Fetch', raw_response: JSON.stringify(base) } }];\n}\nconst skillContents = {};\nconst referenceContents = {};\nfor (const item of items) {\n  const skill = item.json.skill;\n  const reference = item.json.reference;\n  const encoded = item.json.content;\n  if (!encoded) continue;\n  const decoded = Buffer.from(String(encoded).replace(/\\n/g, ''), 'base64').toString('utf8');\n  if (skill) {\n    skillContents[skill] = decoded;\n  } else if (reference) {\n    referenceContents[reference] = decoded;\n  }\n}\nconst schema = agentConfig.output_schema ?? {};\nconst example = {\n  deliverable_markdown: schema.deliverable_markdown ?? 'Full LinkedIn post draft in markdown',\n  resumo: schema.resumo ?? '2-3 sentence summary of the draft',\n  autochecagem: schema.autochecagem ?? 'Bullet list validating draft against acceptance criteria',\n};\nconst skillBlocks = (agentConfig.skills ?? []).map((skill) => {\n  const body = (skillContents[skill] ?? '').trim();\n  return `## Skill: ${skill}\\n${body}`;\n}).join('\\n\\n');\nconst systemPromptLines = [\n  '# Agent Role',\n  `You are the \\`${agentConfig.id}\\` marketing worker agent.`,\n  '',\n  '# Skills',\n  skillBlocks,\n  '',\n];\nconst references = agentConfig.references ?? [];\nif (references.length > 0) {\n  const referenceBlocks = references.map((ref) => {\n    const body = (referenceContents[ref] ?? '').trim();\n    return `## Reference: ${ref}\\n${body}`;\n  }).join('\\n\\n');\n  systemPromptLines.push('# References', referenceBlocks, '');\n}\nsystemPromptLines.push(\n  '# Required Output Format',\n  'Respond with JSON only. Do not wrap the JSON in markdown code fences.',\n  'Required keys and semantics:',\n  JSON.stringify(example, null, 2),\n);\nconst systemPrompt = systemPromptLines.join('\\n');\nconst userMessage = [\n  '# Task Title',\n  base.task_title ?? '',\n  '',\n  '# Task Description',\n  base.task_description ?? '',\n  '',\n  '# Critérios de Aceite',\n  base.criterios_de_aceite ?? '',\n].join('\\n');\nreturn [{\n  json: {\n    ...base,\n    agent_config: agentConfig,\n    skill_contents: skillContents,\n    reference_contents: referenceContents,\n    system_prompt: systemPrompt,\n    user_message: userMessage,\n    temperature: agentConfig.temperature ?? 0.7,\n    max_output_tokens: agentConfig.max_output_tokens ?? 1024,\n    provider: agentConfig.provider ?? 'openai',\n    model: agentConfig.model ?? 'gpt-4.1-mini',\n  },\n}];"
      }
    },
    {
      "id": "ac158a61-bf1c-278c-f51e-dbd4a4a7af0b",
      "name": "Route Provider",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1800,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "4c6dcecf-a806-8de1-c468-ea7c3605c91a",
              "leftValue": "={{ $json.provider }}",
              "rightValue": "openai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c0d6dcc5-7d2a-7835-e37d-e2220eae31a9",
              "leftValue": "={{ $json.provider }}",
              "rightValue": "google",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "dea9a737-c951-d3de-c787-703edebd9538",
      "name": "Message GPT-4.1-MINI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2040,
        120
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      },
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ ($json.model || 'gpt-4.1-mini').replace(/^models\\//, '').replace(/^gemini.*/, 'gpt-4.1-mini') }}"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "user",
              "content": "={{ $json.user_message }}"
            }
          ]
        },
        "simplify": true,
        "builtInTools": {},
        "options": {
          "instructions": "={{ $json.system_prompt }}",
          "temperature": "={{ $json.temperature ?? 0.7 }}",
          "maxTokens": "={{ $json.max_output_tokens ?? 1024 }}"
        }
      }
    },
    {
      "id": "13a64f1f-38e1-d8de-a0dc-1337f2062252",
      "name": "Parse Agent Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        120
      ],
      "parameters": {
        "jsCode": "const REQUIRED_KEYS = [\"deliverable_markdown\",\"resumo\",\"autochecagem\"];\nconst startedAt = $('Store Input Context').first().json._started_at_ms ?? Date.now();\nconst input = $('Store Input Context').first().json;\nconst agentId = input.agent_id ?? 'unknown';\nconst taskId = input.task_id ?? input.task_title ?? 'unknown';\nconst executionId = $execution.id;\n\nfunction stripFences(text) {\n  const trimmed = (text ?? '').trim();\n  if (!trimmed.startsWith('```')) return trimmed;\n  const lines = trimmed.split('\\n');\n  if (lines[0].startsWith('```')) lines.shift();\n  if (lines.length && lines[lines.length - 1].trim() === '```') lines.pop();\n  return lines.join('\\n').trim();\n}\n\nfunction extractOpenAIText(item) {\n  const json = item.json ?? {};\n  const chunks = [];\n  const output = json.output;\n  if (Array.isArray(output)) {\n    for (const message of output) {\n      const content = message?.content;\n      if (!Array.isArray(content)) continue;\n      for (const block of content) {\n        if (block?.type !== 'output_text' || block.text == null) continue;\n        if (typeof block.text === 'string') chunks.push(block.text);\n        else if (typeof block.text === 'object') chunks.push(JSON.stringify(block.text));\n      }\n    }\n  }\n  if (chunks.length) return chunks.join('');\n  const choice = Array.isArray(json.choices) ? json.choices[0] : null;\n  if (choice?.message?.content && typeof choice.message.content === 'string') {\n    return choice.message.content;\n  }\n  for (const key of ['text', 'message']) {\n    if (typeof json[key] === 'string') return json[key];\n  }\n  return JSON.stringify(json);\n}\n\nconst rawResponse = extractOpenAIText($input.first());\nlet parseSuccess = false;\nlet result;\n\ntry {\n  const cleaned = stripFences(rawResponse);\n  const parsed = JSON.parse(cleaned);\n  if (typeof parsed !== 'object' || parsed === null || Array.isArray(parsed)) {\n    throw new Error('Expected JSON object');\n  }\n  const missing = REQUIRED_KEYS.filter((key) => !(key in parsed));\n  if (missing.length) throw new Error(`Missing required keys: ${missing.join(', ')}`);\n  const invalid = REQUIRED_KEYS.filter((key) => typeof parsed[key] !== 'string' || !parsed[key].trim());\n  if (invalid.length) throw new Error(`Empty or non-string values for: ${invalid.join(', ')}`);\n  result = {\n    deliverable_markdown: parsed.deliverable_markdown,\n    resumo: parsed.resumo,\n    autochecagem: parsed.autochecagem,\n  };\n  parseSuccess = true;\n} catch (error) {\n  result = {\n    error: `Failed to parse AgentOutput: ${error.message}`,\n    raw_response: rawResponse,\n  };\n}\n\nconst latencyMs = Date.now() - startedAt;\nconsole.log(JSON.stringify({\n  task_id: taskId,\n  agent_id: agentId,\n  execution_id: executionId,\n  latency_ms: latencyMs,\n  parse_success: parseSuccess,\n}));\n\nreturn [{ json: result }];"
      }
    },
    {
      "id": "531704e5-4ed2-bde3-5bb7-1edafa5ad33d",
      "name": "Unsupported Provider Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        320
      ],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    error: `Unsupported provider: ${$json.provider ?? 'unknown'}. M1 routes openai (and legacy google) to GPT.`,\n    raw_response: JSON.stringify($json),\n  },\n}];"
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Store Input Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Isolation Test)": {
      "main": [
        [
          {
            "node": "Hardcoded Test Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hardcoded Test Input": {
      "main": [
        [
          {
            "node": "Store Input Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Input Context": {
      "main": [
        [
          {
            "node": "Fetch Agent Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Agent Config": {
      "main": [
        [
          {
            "node": "Parse Agent Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Config": {
      "main": [
        [
          {
            "node": "Fetch Agent Files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Agent Files Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Agent Files": {
      "main": [
        [
          {
            "node": "Merge Agent Files Fetch",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Agent Files Fetch": {
      "main": [
        [
          {
            "node": "Assemble Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Prompt": {
      "main": [
        [
          {
            "node": "Route Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Provider": {
      "main": [
        [
          {
            "node": "Message GPT-4.1-MINI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Provider Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message GPT-4.1-MINI": {
      "main": [
        [
          {
            "node": "Parse Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "agent_id": "linkedin-writer",
          "task_title": "Launch post for Q3 product update",
          "task_description": "Announce the new dashboard feature for marketing leads.",
          "criterios_de_aceite": "- Mention the dashboard\n- CTA to sign up\n- Under 300 words"
        }
      }
    ]
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "729bc156-eda1-0aa6-a0b0-b36eb3d12ba4",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "agentic-mkt-call-agent-export"
  },
  "tags": [
    {
      "name": "marketing-pipeline"
    }
  ]
}
